@import "~normalize.css/normalize.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 100vh;
}

.fullscreenmessage {
  text-align: center;
  margin-top: 50px;
}

.soundboardWrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#soundboard, #soundboard2 {
  display: flex;
  flex-flow: row wrap;
  border-radius: 10%;
}

#soundboard {
  background: rgba(0, 255, 255, .2);
}

#soundboard2 {
  background: rgba(255, 0, 255, .2);
}

.volumeslider {
  bottom: 25px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  width: 200px;

  input {
    width: 200px;
  }
}

.button {
  height: 80px;
  width: 80px;
  margin: 15px 15px 0px 15px;
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  color: #b0b0b0;
  font-size: 30px;
  font-weight: bold;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 5px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 3px #b5b5b5;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);

  &:active {
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }

  &:focus {
    outline: 0;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 14px;
  }
}


.keypress {
  font-weight: bold;
}
